body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center !important;
  background-color: yellow;
  margin-bottom: 90px;
}

.container-fluid {
  margin-top: 70px;
}

.amplify-form-section {
  width: 300px !important;
}

