body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center !important;
  background-color: yellow;
  margin-bottom: 90px;
}

.container-fluid {
  margin-top: 70px;
  padding: 0;
}

.amplify-form-section {
  width: 300px !important;
  margin-top: 70px;
}

.amplify-nav-bar {
  margin-top: 70px;
  border: none !important;
}

.amplify-nav-right {
  text-align: center !important;
}

.amplify-section-header, .amplify-section-footer, .amplify-a, #photoupload {
  color: black !important;
  background-color: white !important;
  border: none !important;
  font-family: 'Galada', cursive;
  font-size: auto;
}

.amplify-a, .amplify-nav-button, .amplify-nav-item, #addphoto, .tags-text, .srch-btn, h4, .meme-loadedby {
  font-family: 'Galada', cursive !important;
}

h3 {
  font-family: 'Press Start 2P', cursive;
}

span.likes {
  line-height: 38px;
  font-size: 38px;
}

.user-name {
  position: absolute;
  right: 20px;
}

input#photoupload {
  margin-bottom: 10px;
}

.image-upload {
  width:70%;
  max-width: 300px;
  border: 3px solid black;
  border-radius: 5px;
}

.meme-tags {
  font-family: 'Galada', cursive;
  font-weight: 700;
  font-size: 20px;
  font-style: oblique;
}

.srch-rslts {
  margin-top: 20px !important;
}

.scnd-btn {
  margin-bottom: 20px;
}

.dlt-btn {
  border: 1px solid black;
}

.dank-btn {
  background-color: black;
  border-radius: none;
  color: white;
  margin-right: 10px;
  margin-left: 10px;
}

.dank-btn:hover {
background-color: grey;
  /* background-color:darkgray;
  color: black; */
}

/* .dank-btn:focus {
  color:blue;
} */

.form-control {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

button, input {
  overflow: visible;
  background-color: white;
}

.rules {
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  /* flex-wrap: nowrap; */
  display: inline-flex;
}