body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center !important;
  background-color: yellow;
  margin-bottom: 90px;
}

.container-fluid {
  margin-top: 70px;
  padding: 0;
}

.amplify-form-section {
  width: 300px !important;
  margin-top: 70px;
}

.amplify-nav-bar {
  margin-top: 70px;
  border: none !important;
}

.user-name {
  position: absolute;
  right: 20px;
}

.meme-tags {
  font-family: 'Galada', cursive;
  font-weight: 700;
  font-size: 20px;
  font-style: oblique;

}

.dank-btn {
  background-color: black;
  border-radius: none;
  color: white;
}

.row {
  display: block;
}

.form-control {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

button, input {
  overflow: visible;
  background-color: white;
}